<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Edit product</title>
</head>
<body>
	<h1>Edit product <span data-th-text="${product.id}"></span></h1>
	<form method="post" data-th-action="@{/catalogue/products/{id}(id=${product.id})}">
		<label>
			Title: <br />
			<input type="text" name="title" data-th-value="${product.title}" />
		</label><br />
		<label>
			Description: <br />
			<textarea name="details" data-th-text="${product.details}"></textarea>
		</label><br />
		<button type="submit">Update</button>
	</form>
</body>
</html>