<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Products</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Products</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="product : ${products}">
                <td data-th-text="${product.id}"></td>
                <td><a
                    data-th-href="@{/catalogue/products/product/{productId}(productId = ${product.id})}"
                    data-th-text="${product.title}"></a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>